<ejs-grid id="grid" #grid
          [dataSource]='data'
          [allowGrouping]='true'
          [groupSettings]='groupOptions'
          [toolbar]='toolbar'
          [editSettings]='editSettings'
          (rowSelected)="rowSelected($event)"
          (rowDeselected)="rowDeselected($event)"
          (toolbarClick)="toolbarClick($event)"
          height='100%'>
  <e-columns>
    <e-column field='vmid' headerText='Id' isPrimaryKey='true' textAlign='Right' width=120></e-column>
    <e-column field='name' headerText='Name' width=150></e-column>
    <e-column field='creationStatus' headerText='Creation Status' width=150></e-column>
  </e-columns>
</ejs-grid>
