<div #container class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="logoDiv">
    <div class="logoBorder">
      <img id="logo" src="../../assets/T8WEBSICON.png"/>
    </div>
  </div>
  <div *ngIf="user">
    <h3><i class="fa fa-chevron-right"></i> Welcome {{user?.name}}</h3>
  </div>
  <div *ngIf="user && !inDashboard">
    <button ejs-button (click)="enterDashboard()"><i class="fa fa-server"></i> Enter Dashboard</button>
  </div>
  <div *ngIf="!user">
    <button ejs-button (click)="signIn()"><i class="fa fa-google"></i> | Sign in with Google</button>
  </div>
</div>
