<div class="e-panel-content">
  <ejs-chart [tooltip]='tooltip' [chartArea]='chartArea' align='center' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'>
    <e-series-collection>
      <e-series [dataSource]='ramData'
                [marker]='marker'
                type='Area'
                xName='x'
                yName='y'
                name='Memory Usage'
                opacity=0.5
                width=2
                border-color='transparent'>
      </e-series>
    </e-series-collection>
  </ejs-chart>
</div>
