<div class="dashboardContent">
  <div fxFlex="50" fxLayout="50" fxLayoutAlign="center center">
    <div class="buildDiv">
      <ejs-uploader #uploader [multiple]="false" [cssClass]="'uploader'" allowedExtensions='.war' maxFileSize="500000000"></ejs-uploader>
      <table>
        <tr>
          <td>
            <button ejs-button [disabled]="disableDeploy" (click)="submit()" isPrimary="true">Deploy</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div fxFlex="50" fxLayout="50">

  </div>
</div>
