<div class="control-section">
  <h4 id="title">{{this.selectedTreeNode.name}}</h4>
  <h5 id="status">
    <span *ngIf="this.selectedTreeNode.type.displayName == 'Server'">
      ({{this.selectedTreeNode.status}})
    </span>
  </h5>
  <div class="toolbar-menu-control">
    <div #loginAndOut id="loginAndOut">
      <button *ngIf="!user" ejs-button (click)="login()"><i class="fa fa-google"></i> | Sign in</button>
      <button *ngIf="user" ejs-dropdownbutton (select)="userMenuSelect($event)" [items]="userMenuItems" [title]="user.name">
        <img class="userPic" referrerpolicy="no-referrer" [src]="user.picture"/>
      </button>
    </div>
    <div id="editSubmenu">
      <button #editSubmenu ejs-dropdownbutton (select)="editSelect($event)" [items]="editMenuItems">
        <i class="fa fa-gear"></i>Edit
      </button>
    </div>
    <ejs-toolbar #toolbar (clicked)="toolbarClick($event)" (created)='created()'>
      <e-items>
          <e-item prefixIcon="fa fa-plus" text="Add" cssClass="group" [visible]="false"></e-item>
          <e-item prefixIcon="fa fa-play" text="Start" cssClass="item" [visible]="false"></e-item>
        <e-item type='Separator' cssClass="item" [visible]="false"></e-item>
          <e-item prefixIcon="fa fa-stop" text="Stop" cssClass="item" [visible]="false"></e-item>
        <e-item type='Separator' cssClass="item" [visible]="false"></e-item>
          <e-item prefixIcon="fa fa-refresh" text="Reboot" cssClass="item" [visible]="false"></e-item>
        <e-item type='Separator' cssClass="item" [visible]="false"></e-item>
          <e-item template='#editSubmenu' cssClass="item" [visible]="false"></e-item>
        <e-item template='#loginAndOut' align="Right" cssClass="persist"></e-item>
      </e-items>
    </ejs-toolbar>
  </div>
</div>
