<div class="e-panel-container">
  <div class="e-panel-header">Summary</div>
  <div class="e-panel-content">
    <div class="description">
      <table>
        <tr><td><label>Name:</label></td><td>{{selectedTreeNode.name}}</td></tr>
        <tr><td><label>URL:</label></td><td>{{selectedTreeNode.name}}.T8Webs.com</td></tr>
        <tr><td><label>Vm Id:</label></td><td>{{selectedTreeNode.id}}</td></tr>
        <tr><td><label>Status:</label></td><td>{{selectedTreeNode.status}}</td></tr>
        <tr><td><label>VCPUs:</label></td><td>1</td></tr>
        <tr><td><label>Memory:</label></td><td>2.00 GB</td></tr>
        <tr><td><label>Bootdisk:</label></td><td>20.00 GB</td></tr>
        <tr><td><label>Java:</label></td><td>17.0.1</td></tr>
        <tr><td><label>Traffic Port:</label></td><td>8080</td></tr>
      </table>
    </div>
  </div>
</div>
